/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: aqua;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 48px;
} */