{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <style href=" {% static 'css/index.css' %}"></style>
</head>
<body>
    <section class="home d-flex flex-column">
        <div class="home-title">
            <a href="#" class="home-btn mt-4">ALL PRODUCT</a>
        </div>
        <div class="home-recomendation">
            <div class="rec-title">
                <h3><span>Popular Item</span></h3>
            </div>
        </div>
        <div class="home-cards">
            {% for product in products %}
                <a href="{{product.get_absolute_url}}" class="home-card">
                    <img src="" alt="">
                    <h5 class="title-card">{{ product.name }}</h5>
                    {% if product.discount %}
                    <div class="cart-discount">
                        <p class="line">{{ product.price }}</p>
                        <p>{{ product.sell_price }}</p>
                    </div>
                    {% else %}
                    <p class="price">{{product.price}}</p>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </section>
</body>
</html>
{% endblock content %}
